body {
  background-color: black;
  color: white;
  font-family: "helvetica, Arial, sans-serif";
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  display: none;
}
.featured {
  height: 400px;
  background-image: url("https://occ-0-993-988.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABd54urNKuRcmOfWScmA8x1_gk796eV_UEkTULkkCg4f6rE39nDkirBADn29CdAqQBUs3rV_wbQxbvGFc89jDdWsZfCJh.webp?r=f2b");
  background-position: center;
  background-size: cover;
  padding: 0 0 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.featured h2 {
  font-size: 50px;
  margin: 0;
}
.featured .featured__buttons button {
  font-size: 16px;
  background-color: rgba(51, 51, 51, 0.5);
  color: white;
  border: none;
  padding: 4px 24px;
  border-radius: 4px;
  margin-left: 2px;
}
.featured .featured__description {
  max-width: 350px;
  font-weight: 400;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
}
img {
  width: 100px;
}
.hide-scrollbar1::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar2 {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.original__movies {
  overflow-x: scroll;
  white-space: nowrap;
}
.movies__container {
  overflow-x: scroll;
  white-space: nowrap;
}
